@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nerko+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: black !important;
  color: black !important;
  caret-color: black !important;

  /* Revert background color */
  transition: background-color 5000s ease-in-out 0s;
}

/* :root {
  --jd-color-background-default: #000000;
}

.jodit_theme_dark .jodit-wysiwyg {
  background-color: #262626 !important;
  color: #faf9fc !important;
}

.jodit-placeholder {
  color: #6f6f6f !important;
} */

.jodit-container:not(.jodit_inline) {
  border: none !important;
}
